@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define the keyframes for sliding and fading in/out */
@keyframes slideIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

/* Apply animations to the dropdown menu */
.slide-in {
  animation: slideIn 300ms ease-in-out forwards;
}

.slide-out {
  animation: slideOut 300ms ease-in-out forwards;
}

.bg-primary-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(14 165 233 / var(--tw-bg-opacity))
}

.animate-wave-1 {
  -webkit-animation: wave-1 7s linear infinite;
  -moz-animation: wave-1 7s linear infinite;
  animation: wave-1 7s linear infinite;
}

@keyframes wave-1 {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

.animate-wave-2 {
  -webkit-animation: wave-1 7s linear -.125s infinite,wave-2 7s ease -.125s infinite;
  -moz-animation: wave-1 7s linear -.125s infinite,wave-2 7s ease -.125s infinite;
  animation: wave-1 7s linear -.125s infinite,wave-2 7s ease -.125s infinite;
}

@keyframes wave-2 {
  0%, 100% {
    -webkit-transform: translateY(-25px);
    -moz-transform: translateY(-25px);
    transform: translateY(-25px);
  }
  50% {
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    transform: translateY(10px);
  }
}

.bg-wave {
  background-image: url(/wave.svg);
}

.static-progress-wrapper {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.static-progress-title {
  width: 150px; /* Adjust width as needed */
  text-align: left;
  font-weight: bold;
}

.static-progress-container {
  flex: 1;
  position: relative;
  background-color: #a19c9c;
  border-radius: 8px;
  overflow: hidden;
  height: 30px;
  margin-left: 10px;
}

.static-progress-bar {
  height: 100%;
  background-color: #235cc6;
  position: relative;
  transition: width 1s ease-out; /* Smooth transition for width changes */
}

.static-progress-label {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-weight: bold;
  white-space: nowrap;
}

