@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define the keyframes for sliding and fading in/out */
@keyframes slideIn {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes slideOut {
    from {
      transform: translateY(0);
      opacity: 1;
    }
    to {
      transform: translateY(-100%);
      opacity: 0;
    }
  }
  
  /* Apply animations to the dropdown menu */
  .slide-in {
    animation: slideIn 300ms ease-in-out forwards;
  }
  
  .slide-out {
    animation: slideOut 300ms ease-in-out forwards;
  }
  